## 2. Understand price fluctuations accounting the seasonal effect

In [25]:
import pandas as pd
pd.set_option('chained_assignment',None)

In [26]:
df=pd.read_csv("Monthly_data_cmo_filtered.csv")
df["date"]=pd.to_datetime(df["date"])
df["quarter"]=df["date"].dt.quarter
df["combination_label"]=df["APMC"]+":"+df["Commodity"]
df.shape

(59841, 13)

In [27]:
# Grouping based on APMC, comm, year and taking count to remove those clusters with count<12
def group(df):
    data=df[["APMC","Commodity","modal_price","Year","combination_label"]].groupby(["APMC","Commodity","Year",
            "combination_label"],as_index=False).count().rename(columns={"modal_price":"Count"}).reset_index(drop=True)
    return data

### Selecting only those APMC Commodities (cluster) which have data points for atleast a complete year (time series analysis)

In [44]:

data = group(df)
data[data['Count']==12].reset_index(drop=True).head()

            APMC       Commodity  Year       combination_label  Count
0        Aamgaon  paddy-unhusked  2015  Aamgaon:paddy-unhusked     12
1  Akhadabalapur         soybean  2015   Akhadabalapur:soybean     12
2          Akluj    bitter gourd  2015      Akluj:bitter gourd     12
3          Akluj         brinjal  2015           Akluj:brinjal     12
4          Akluj         cabbage  2015           Akluj:cabbage     12

In [45]:
filtered=data["combination_label"].unique().tolist()
df_filtered=df[df["combination_label"].isin(filtered)].reset_index(drop=True)

In [46]:
# Data ready to use
df_filtered.to_csv("seasonal_data_analysis.csv",index=False)